body{
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  font-weight: 300;
  font-size: 21px;
}

@keyframes fadeIn{
  0%{
    opacity: 0
  }

  100%{
    opacity: 1
  }
}

main{
    margin: 35px 0;
}

.slides{
  section{
    text-align: center;
    display: none;
    h1, h2, h3{
      font-family:'Roboto Condensed', sans-serif;
    }

    h1{
      font-size: 39px;
    }

    h2{
      font-size: 25px;
    }

    ul{
      list-style: none;
      padding: 0;
      margin: 0
    }

    &.active{
      display: block;
      animation: fadeIn 2s
    }

    &.hero {
      h1{
        margin: 250px 0;
      }
    }
  }
}
